<hr>
<br>
<%= image_tag 'https://s3.amazonaws.com/wellclub/static/wellclub-logo-registered.png', :width => "120", :alt => "" %>

<p>
<div style="color:rgb(136,136,136);font-family:arial,sans-serif;font-size:13px">WellClub® Support Team</div>
<%=mail_to "support@wellclub.me"%>
<br>
<div style="color:rgb(136,136,136);font-family:arial,sans-serif;font-size:13px">Skype: wellclub.support</div>
(612) 486-2503
<br>
<div style="color:rgb(136,136,136);font-family:arial,sans-serif;font-size:13px">Available M-F 8am-5pm CST</div>
</p>

<p>See our <%= link_to "FAQ", "https://docs.google.com/document/d/1ygnlnmFIhkhu_2BHIMvtm6MJtzeTUI9ODf3Q3tavYwQ"%></p>
<p>© 2015 WellClub. WellClub and the WellClub logo are registered trademarks of WellClub.</p>
<p><a href="<%= @settings %>">Settings</a> | <a href="<%= @unsubscribe %>">Unsubscribe</a></p>