<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @user.name %> has sent you the following feedback:</p>
    <br>
    <blockquote><%= @message %></blockquote>
    <br>

    <%# render "footer" %>
  </body>
</html>
