<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%=@sup.name%> would like to support you</p>

    <!-- [USER TILE WITH ACCEPT AND REJECT NEEDS TO BE ADDED] -->
    <%if @message_user.present?%>
      <p><%=@message_user.gsub(/[\r\n]+/, "<br>").html_safe%>
      <br></p>
    <%end%>


    <a href="<%= @invite_url %>">Accept</a>
    <a href="<%= @url %>">Learn more</a>
    <br>

    <%= render "footer" %>
  </body>
</html>
