<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Supporting someone on WellClub is quick, easy, and rewarding. Simply send fun ideas for how they can reach their goal from WellClub or create your own.</p>

    <%if @message_user.present?%>
      <p><%=@message_user.gsub(/[\r\n]+/, "<br>").html_safe%>
      <br></p>
    <%end%>

    <!-- [USER TILE WITH ACCEPT AND REJECT NEEDS TO BE ADDED] -->
    <a href="<%= @invite_url %>">Accept</a>
    <a href="<%= @url %>">Learn more</a>
    <br>

    <%= render "footer" %>
  </body>
</html>
