<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You were invited to be an admin backoffice user on Wellclub system.
    <br>
      <%= @body_text %>
    </p>

    <a href="<%= @invite_url %>">Accept</a>
    <br>

    <%= render "footer" %>
  </body>
</html>
