<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag 'https://s3.amazonaws.com/wellclub/static/wellclub-confirmation-email-banner.jpg', :alt => "" %>

    <p>Click <a href="<%= @invite_url %>">here</a> to join now</p>
    <p>You'll benefit from joining WellClub if you: </p>
    <ul>
      <li>Suspect you could make healthier choices around eating in your busy day </li>
      <li>Have ever wished for a way to have doable daily exercises curated for you and reminders </li>
      <li>Want to change the world around you by living, not just talking about, a healthier way of being</li>
      <li>Value a community of people who are committed to a holistic healthy way of life</li>
      <li>Want to start now to lose weight, eat healthier and move more this new year</li>
    </ul>
    </p>

    <%if @message_user.present?%>
      <p><strong>Message from <%=@user.name%>:</strong></p>
      <p>"<%=@message_user.gsub(/[\r\n]+/, "<br>").html_safe%>"
      <br></p>
    <%end%>

    <!-- [USER TILE WITH ACCEPT AND REJECT NEEDS TO BE ADDED] -->
    <p>Click <a href="<%= @invite_url %>">here</a> to join now</p>

    <p>Just create a profile, select a healthy habit to work on, and start receiving suggestions!</p>

    <p>What is WellClub?
    <br>
    WellClub creates fun and simple ways to make smart decisions around eating, movement and well-being with the support of friends and family. </p>

    <a href="<%= @url %>">Learn more</a>

    <%= render "footer" %>
  </body>
</html>
