<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> You are now supporting <%=@user.name %>. </p>
    <a href="<%= @url %>">Have a look.</a>
    <%= render "footer" %>
  </body>
</html>
