<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your goal was: <%=@goal.name%>, <%=@goal_user.target_date%>, <%= @goal_user.complete_amount %>/<%= @goal_user.goal_amount %>.
     <br>
     <a href="<%= @url %>">Check it out</a>
    </p>
    <br>

    <%= render "footer" %>
  </body>
</html>
