<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%=@user.name%>'s goal date has passed! Reach out to them to have them let us know if they reached it or not.
     <br>
     <a href="<%= @url %>">Check it out</a>
    </p>
    <br>
    <%= render "footer" %>
  </body>
</html>
