<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome aboard <%= @user.name %>!</h1>

    <p>
      <a href="<%= @url %>">Check it out</a>
    </p>

    <br>

    <%= render "footer" %>
  </body>
</html>



