<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
        Incredible! Your support makes a difference. <%=@user.name%> reached <%=@goal.name%>.
        <br>
        Time to celebrate.  WellClub is about a lifetime of health, one moment at a time.

     <br>
     <a href="<%= @url %>">Check it out</a>
    </p>
    <br>
    <%= render "footer" %>
  </body>
</html>
