--- Write ABOVE THIS LINE to post a reply ---
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%=@user.name%>,</p>

    <p>
    <strong><%=@supporter.name%></strong> sent you a suggestion:
    </p>
    <p>  <strong><%=@suggestion.name%></strong>
    <br>
    <%=@suggestion.description%>
    </p>
    <%if @comment.present?%>
    <p>
    <strong><%=@supporter.name%></strong> says:
    </p>
    <p>  <%=@comment.comment%>
    </p>
    <%end%>

    <a href="<%= @url %>">Have a look.</a>

    <%= render "footer" %>
  </body>
</html>
