--- Write ABOVE THIS LINE to post a reply ---
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%=@user.name%></p>
    <p>
    <strong>Message from <%=@supporter.name%>:</strong>
    </p>
    <p>  <%=@comment.comment%>
    </p>
    <a href="<%= @url %>">Have a look.</a>
    <br>
    <%= render "footer" %>
  </body>
</html>
