<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>
      Just one quick step and you're on your way.
      <br>
      Please click on the link below to confirm your email address.
      <br>
      <a href="<%= @url %>">Confirmation link.</a>
    </p>

    <br>

    <%= render "footer" %>
  </body>
</html>
