<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag 'https://s3.amazonaws.com/wellclub/static/wellclub-confirmation-email-banner.jpg', :alt => "" %>
    <p>
      Congratulations! You are now a member of WellClub and have been entered to win a free iPad!
      <br>
      <br>
      There are lots of fun suggestions and things to do awaiting you in WellClub, so <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>" target="_blank">log on and keep having fun!</a>
      <br>
      <br>
      Have an awesome time getting started early on your new year’s resolutions!
    </p>
    <p>Have a great 2015!<p>
    <hr>
    <br>
    <p>
    <div style="color:rgb(136,136,136);font-family:arial,sans-serif;font-size:13px">The WellClub® Team</div>
    <%=mail_to "support@wellclub.me"%>
    <br>
    (612) 486-2503
    <br>
    <div style="color:rgb(136,136,136);font-family:arial,sans-serif;font-size:13px">Available M-F 8am-5pm CST</div>
    </p>
    <%= image_tag 'https://s3.amazonaws.com/wellclub/static/wellclub-logo-registered.png', :width => "120", :alt => "" %>
    <p>© 2015 WellClub, LLC All rights reserved.</p>
    <p>Our mailing address is:
    <br>
    3600 Alabama Avenue
    <br>
    Minneapolis, MN 55416
    </p>

    <a href="<%= @unsubscribe %>">Unsubscribe</a>
  </body>
</html>



