<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
	<p>Hello <%= @resource.name %>,<p>

	<p>Click on the link below to change your password:
	<br>
	<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %>
	</p>

	<p>
	Your password will not change until you access the link above and create a new one. If you did not request this change please disregard this email. 
	<br>
	If you have questions, or would like assistance, please email support@wellclub.me. 
	We are happy to help!</p>

	<%= render "user_mailer/footer" %>
  </body>
  
</html>
